## Standard Readline Configuration
## Copyright (C) 2014 Jaskirat M.S. Rajasansir
## License BSD, see LICENSE for details


# Use a visible bell if one is available
set bell-style visible

# When user is asked whether the list of possibilities should be displayed
set completion-query-items 20

# Use 'vim' mode
set editing-mode vi

# Words which have more than one possible completion cause the matches to be listed immediately instead of ringing the bell
set show-all-if-ambiguous on


